@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#222] text-[#c8c8c8] font-mono antialiased;
}

a {
  @apply text-[#fff] hover:underline decoration-1 underline-offset-4 transition-all duration-200;
}

h1 {
  @apply text-3xl font-bold text-[#fff] tracking-tight mb-6;
}

.article-list li {
  @apply mb-4;
}

.date {
  @apply text-gray-600 text-sm mr-3;
}

.pagination {
  @apply mt-12 flex gap-4;
}

.tag {
  @apply text-gray-500 mr-2;
}
